<form>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Application Form
    </mat-card-title>
  </mat-card-header>
  <br>
  <br>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput>
      </mat-form-field></div>
      <div class="col-sm-6"><mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput>
      </mat-form-field></div>
      <div class="col-sm-6"><mat-form-field>
        <mat-label>Adress</mat-label>
        <input matInput>
      </mat-form-field></div>
    </div>
  </mat-card-content>
</mat-card>
</form>
