<h1 id="heading">Angular Material Form</h1>
<br>
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Application Form
          </mat-card-title>
        </mat-card-header>
        <br>
        <br>
        <mat-card-content>
          <div class="row">
            <div class="col-4 Name">
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input formControlName="firstCtrl" type="text" pattern="^[a-zA-Z ]*$" required matInput>
              </mat-form-field>
            </div>
            <div class="col-4 Name"><mat-form-field>
                <mat-label>Middle Name</mat-label>
                <input formControlName="firstCtrl" pattern="^[a-zA-Z ]*$" required matInput>
              </mat-form-field>
            </div>
            <div class="col-4 Name"><mat-form-field>
                <mat-label>Last Name</mat-label>
                <input formControlName="firstCtrl" pattern="^[a-zA-Z ]*$" required matInput>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field class="Address">
            <mat-label>Address</mat-label>
            <input formControlName="firstCtrl" pattern="^[a-zA-Z0-9,-]*$" required matInput>
          </mat-form-field>
          <div class="row">
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input formControlName="firstCtrl" required matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input matInput formControlName="firstCtrl" placeholder="pat@example.com" [formControl]="email"
                  required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <button mat-fab extended>
                <button mat-button matStepperNext class="button" color="primary">Next</button>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Fill your CSV file">
    <form [formGroup]="secondFormGroup">
      <mat-form-field class="file">
        <mat-label>Upload file</mat-label>
        <span *ngIf="errorMessage" class="error-message" style="color: red; font-size: 15px;">{{errorMessage}}</span>
        <input matInput type="text" (change)="getName(name.value)" #name /> <br />
        <input type="file" (change)="getFile($event)" />
        <button mat-raised-button color="primary" (click)="submit()" value="Upload file" class="ms-4">Upload</button>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext color="accent">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
