<div class="weather-app">
  <div class="container">
    <h3 class="brand">
      <img
        alt="icon"
        class="icon"
        id="move-vertical"
        width="50"
        height="50"
        src="./../assets/image/weather-app.png"
      /><span class="gap">Weather broadcast</span>
    </h3>
    <div *ngIf="weatherData">
      <h1 class="temp gap">{{ weatherData.main.temp }}&#176;</h1>
      <div class="city-time gap">
        <p class="name text-center fs-1">{{ weatherData.name }}</p>
        <!-- <small class="font" > -->
        <div>
          <span class="time mx-3">{{ time }}</span>
        </div>
        <!-- </small> -->
      </div>
      <!--  -->
    </div>
  </div>

  <div class="panel">
    <form action="" id="locationInput">
      <input
        type="text"
        class="search"
        (keydown.enter)="getWeather()"
        name="city"
        placeholder="Search Location.."
        [(ngModel)]="city"
      />
      <button type="button" class="submit" (click)="getWeather()">
        <i class="fas fa-search"></i>
      </button>
    </form>

    <ul class="details" *ngIf="weatherData">
      <h1>
        {{ weatherData.weather[0].main }}
        <img
          *ngIf="weatherData.weather[0].main == 'Clouds'"
          [src]="src"
          alt="icon"
          class="icon"
          width="40"
          height="40"
        />
        <img
          *ngIf="weatherData.weather[0].main == 'Clear'"
          [src]="src"
          alt="icon"
          class="icon"
          width="40"
          height="40"
        />
        <img
          *ngIf="weatherData.weather[0].main == 'Haze'"
          [src]="src"
          alt="icon"
          class="icon"
          width="40"
          height="40"
        />
        <img
          *ngIf="weatherData.weather[0].main == 'Rain'"
          [src]="src"
          alt="icon"
          class="icon"
          width="60"
          height="60"
        />
      </h1>
      <li>
        <span class="logo-space"
          >Weather
         </span>
        <span class="cloud">{{ weatherData.weather[0].description }}  <img
          alt="icon"
          class="icon"
          width="20"
          height="20"
          src="./../assets/image/weather.png"
      /></span>
        
      </li>
      <li>
        <span class="logo-space"
          >Humidity
          </span>
        <span class="humidity">{{ weatherData.main.humidity }}% <img
          alt="icon"
          class="icon"
          width="20"
          height="20"
          src="./../assets/image/humidity.png"
      /></span>
      </li>
      <li>
        <span class="logo-space"
          >Wind
          </span>
        <span class="wind">{{ weatherData.wind.speed }}km/h <img
          alt="icon"
          class="icon"
          width="20"
          height="20"
          src="./../assets/image/wind.png"
      /></span>
      </li>
      <li>
        <span class="logo-space"
          >Sunrise
          </span>
        <span class="wind">{{ weatherData.sys.sunrise }} <img
          alt="icon"
          class="icon"
          width="20"
          height="25"
          src="./../assets/image/sunrise.png"
      /></span>
      </li>
      <li>
        <span class="logo-space"
          >Sunset
          </span>
        <span class="wind">{{ weatherData.sys.sunset }} <img
          alt="icon"
          class="icon"
          width="20"
          height="25"
          src="./../assets/image/sunset.png"
      /></span>
      </li>
      <li>
        <span class="logo-space"
          >Visibility
          </span>
        <span class="wind">{{ weatherData.visibility }} km <img
          alt="icon"
          class="icon"
          width="20"
          height="20"
          src="./../assets/image/visibility.png"
      /></span>
      </li>
      <li>
        <span class="logo-space"
          >Pressure
          </span>
        <span class="wind">{{ weatherData.main.pressure }} mb <img
          alt="icon"
          class="icon"
          width="20"
          height="20"
          src="./../assets/image/pressure.png"
      /></span>
      </li>
    </ul>
  </div>
</div>
