<div class="weather-app">
  <div class="container ">
    <h3 class="brand" ><img   alt="icon"
      class="icon"
      id="move-vertical"
      width="50"
      height="50"src="./../assets/image/weather-app.png"><span class="gap">Weather broadcast</span></h3>
  <div *ngIf="weatherData">
  <h1 class="temp gap"  >{{weatherData.main.temp}}&#176;</h1>
  <div class="city-time gap">
    <p class="name text-center fs-1">{{weatherData.name}}</p>
    <!-- <small class="font" > -->
    <div>
      <span class="time mx-3">{{time}}</span>
    </div>
    <!-- </small> -->
  </div>
    <div class="weather gap ms-5 ">
      <img *ngIf="weatherData.weather[0].main == 'Clouds' "
        [src]="src"
        alt="icon"
        class="icon"
        width="30"
        height="30"
      />
      <img *ngIf="weatherData.weather[0].main == 'Clear' "
        [src]="src"
        alt="icon"
        class="icon"
        width="30"
        height="30"
      />
      <img *ngIf="weatherData.weather[0].main == 'Haze' "
      [src]="src"
      alt="icon"
      class="icon"
      width="30"
      height="30"
    />
      <span class="condition hello" *ngIf="weatherData">{{weatherData.weather[0].main}}</span>
    </div>
</div>
</div>

  <div class="panel">
    <form action="" id="locationInput">
      <input type="text" class="search" name="city" placeholder="Search Location.."  [(ngModel)]="city" />
      <button type="button" class="submit" (click)="getWeather()">
        <i class="fas fa-search"></i>
      </button>
    </form>

    <ul class="details" *ngIf="weatherData" >
      <h1 >{{weatherData.weather[0].main}} <img *ngIf="weatherData.weather[0].main == 'Clouds' "
        [src]="src"
        alt="icon"
        class="icon"
        width="40"
        height="40"
      />
      <img *ngIf="weatherData.weather[0].main == 'Clear' "
        [src]="src"
        alt="icon"
        class="icon"
        width="40"
        height="40"
      />
      <img *ngIf="weatherData.weather[0].main == 'Haze' "
      [src]="src"
      alt="icon"
      class="icon"
      width="40"
      height="40"
    /></h1>
      <li>
        <span class="logo-space">Weather <img  alt="icon"
          class="icon"
          width="20"
          height="20" src="./../assets/image/weather.png"></span>
        <span class="cloud">{{weatherData.weather[0].description}}</span>
      </li>
      <li>
        <span class="logo-space">Humidity   <img  alt="icon"
          class="icon"
          width="20"
          height="20" src="./../assets/image/humidity.png"></span>
        <span class="humidity">{{weatherData.main.humidity}}%</span>
      </li>
      <li>
        <span class="logo-space">Wind <img  alt="icon"
          class="icon"
          width="20"
          height="20" src="./../assets/image/wind.png"></span>
        <span class="wind">{{weatherData.wind.speed}}km/h</span>
      </li>
      <li>
        <span class="logo-space">Sunrise  <img  alt="icon"
          class="icon"
          width="20"
          height="25" src="./../assets/image/sunrise.png"></span>
        <span class="wind">{{weatherData.sys.sunrise}}</span>
      </li>
      <li>
        <span class="logo-space">Sunset <img  alt="icon"
          class="icon"
          width="20"
          height="25" src="./../assets/image/sunset.png"></span>
        <span class="wind">{{weatherData.sys.sunset}}</span>
      </li>
      <li>
        <span class="logo-space">Visibility <img  alt="icon"
          class="icon"
          width="20"
          height="20" src="./../assets/image/visibility.png"></span>
        <span class="wind">{{weatherData.visibility}} km</span>
      </li>
      <li>
        <span class="logo-space">Pressure <img  alt="icon"
          class="icon"
          width="20"
          height="20" src="./../assets/image/pressure.png"></span>
        <span class="wind">{{weatherData.main.pressure}} mb</span>
      </li>
    </ul>
  </div>

