h1,h3{
    font-weight: 400;
}
.gap{
    margin-left: 20px;
}

.brand{
    font-size: 35px;
    font-size: calc( 1em + 3vmin );
    font-weight: 200;
    color: tomato;
    
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: lightblue;
    
    text-shadow: 
      
      var(--x-offset)
      var(--y-offset)
      0px
      var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) )
      calc( var(--y-offset) + var(--stroke) )
      0px
      var(--stroke-color);
    
  }
  /* for browsers that support spread, added in
  https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
  currently: none browsers! none of them!
  I can't even find a test: 
  https://wpt.fyi/results/css/css-text-decor */
  @supports ( text-shadow: 1px 1px 1px 1px black ) {
    h1 {
      text-shadow:
        
        var(--x-offset)
        var(--y-offset)
        0px
        0px
        var(--background-color), 
        
        var(--x-offset) 
        var(--y-offset)
        var(--stroke)
        0px
        var(--stroke-color);
      
    }
}
.weather-app{
    min-height: 100vh;
    background-image: url(../../assets/image/lake-1802337.jpg) ;
    /* width: 100%;
    height: 100%; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1;
    font-size: 15px;
}

.weather-app::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index:0 ;

}

.logo-space{
    margin-right: 50px;
}
.container{
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;

}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-time,
.temp,
.weather{
    margin: 0 1em;
}

.city-time{
    margin: 0;
    margin-bottom:0 ;
    font-size: 20px;
}


.temp{
    font-size: 7em;
    margin: 0;
}

.weather img{
    display: block;
    margin: 1px 0 ;

}

.panel{
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(110,110,110,0.25);
    box-shadow: 0 8px 32 px 0
    rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
}

.panel form {
    margin-bottom: 3em;
}

.submit{
    position: absolute;
    top: 29px;
    right: 35px;
    padding: 0.9em;
    margin: 0;
    margin-right: 10px;
    border: none;
    outline: none;
    background: #fa6d1b;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
    border-radius: 20px;
}

.submit:hover{
    background: #fff !important;
    color: #000;
}

.hello{
    font-size: 12px;
}
.search{
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    padding: 0 1em 0 0.5em 0;
    width: 80%;
    color: #fff;
    font-size: 1.1em;
}

.search:focus{
    outline: none;
}

.search::placeholder{
   color: #ccc; 
}
.panel ul{
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #ccc solid;
}

.panel ul li {
    color: #ccc;
    margin: 2.5em 0;
}

.panel ul h4{
    margin: 3em 0;
}

.city{
    display: block;
    cursor: pointer;
}
 .city:hover{
    color: #fff;
 }
.details li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gap{
    margin: 0 20px;
}




@media  screen and (max-width:800px) {
    .panel, .container{
        position: relative;
        width: 100%;
        top: initial;
    }
}

@media  screen and (max-width:500px) {
    html{
        font-size: 12px;
    }
}

@media screen and (max-height:300px){
    .weather-app{
        min-height: 40em; ;
    }
}